<!-- **********************************
  Content body start
*********************************** -->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
    
            </div>
        </div>
    </div>
</div>